<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/test.css" />
    <link rel="stylesheet" href="javascripts/animate.css"> <!-- 1st animations -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="javascripts/javas.js"></script>   <!--  2nd animations -->
  </head>
  <body>
    <header>
      
    </header>
    <section>
      <div class="banner1" id="karuturi"><br><br><br><br><br><br>
        <div class="container">
          <span><font color="black" size="100px"> Karuturi </font></span><br>
          <span><font color="black" size="5px"> Order your prints from anywhere </font></span>
        </div>
        <br><br>
        
        <br><br><br>
      </div>
    </section>
    <div class="jumbotron">
      <h3 style="text-align:center; color:blue">You are currently not logged in.</h3>
      <h3 style="text-align:center; color:blue">Kindly <span><a href="/users/signup">Signup</a></span> or <span><a href="/users/login">Login</a></span> to use all features</h3>
    </div>
  </body>
</html>